body{margin: 0px; text-align: center; margin-top: 20px ;font-family: 'Merriweather', serif; color: #40514E;}
.top-container{background-color: #EAF6F6; position: relative; padding-top: 70px;}
h1{margin-top: 0; width: 10%; margin: 0 auto ;font-family: 'Sacramento', cursive; font-size: 2; color: #66BFBF; line-height:2 ;}
h2{font-family: 'Montserrat', sans-serif; margin-bottom: 0; color: #66BFBF; font-weight: normal; padding-bottom: 10px;}
h3{font-family: 'Montserrat', sans-serif; color: #11999E; }
.bottom-cloud{position: absolute;bottom: 300px;left: 200px; }
.top-cloud{position:absolute; right: 300px; top: 50px; }
.btn{color:#11999E; }
p{line-height: 2;}
a:hover{color: #EAF6F6;}
.footer-link{color: #11999E; margin: 10px 20px;}

.skill-row{width: 50%;
          margin: 100px auto ;
           text-align: left;
           background-color: white;
        }
        .giphy-embed-1{width: 25%; margin: 0 auto; height: 190px; float: left; margin: auto 30px auto auto;}
        .giphy-embed-2{width: 25%; margin: 0 auto; height: 190px; float: right; margin-left: 30px;}
.clear-1{clear:right ;}
.communication-description{clear: right;}

.dotted{ border: dotted 6px #EAF6F6; border-bottom: NONE; width: 5%; margin: 100PX auto 100PX auto;}
.cc{color: #EAF6F6;}
.bottom-container{background-color:#66BFBF ; padding: 50px 0 50px 0;}

.middle-container{background-color: white; margin: 100px auto 100px auto;}
.copy-right{font-size: .5rem;
color: #EAF6F6; padding: 20px 0;}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .intro{width: 30%; margin: auto;}
  .contact-text{width: 30%; margin: 30px auto 30px auto;}

